<?php
header('X-Source: ' . gethostname());
header('X-Version: 1.0');
header('Content-Type: text/html');
header('Cache-Control: must-revalidate');
header('Cache-Control: no-cache');
?>
<!DOCTYPE html>
<html>
  <body>

    <center>
      <img src="https://www.chef.io/wp-content/uploads/2017/10/partner-heros-google-10.png">
    </center>

    <p>Hello from <%= node['hostname'] %>, with the IP address of
      <%= node['hostname'] %> on a <%= node['platform'] %> virtual machine.</p>

    <h2>Metadata from GCP</h2>

    Here's some useful data we get from
    <a href="https://docs.chef.io/ohai.html">ohai</a>:

    <ul>
      <li>We got the startup script from: <%= node['gce']['instance']['attributes']['startup-script-url'] %></li>
      <li>Our CPU arch is: <%= node['gce']['instance']['cpuPlatform'] %></li>
      <li>My hostname on GCP is: <%= node['gce']['instance']['hostname'] %></li>
      <li>Finally, my machine image: <%= node['gce']['instance']['image'] %></li>
    </ul>


<?php
echo "\n\n";
echo "It's " . date('r') . ' around here';
?>

  </body>
</html>
